{% extends "layout.html" %}
{% block title %}
<title>Blog</title>
{% endblock title %}

{% block main_content %}
<div class="container">
    <div class="d-flex justify content-center">
        <div class="col-md-8">
            <h2 class="text-center text-success">blog show</h2>
            <table class="table table-bordered table-striped table-light">
                <thead>
                    <tr>
                        <th>title</th>
                        <th>body</th>
                        <th>catagory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for show_blog in blog %}
                    <tr>
                        <td>{{show_blog.title}}</td>
                        <td>{{show_blog.body}}</td>
                        <td>{{show_blog.catagory}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>